#sec1Image:hover {
    animation: salad 1s infinite;
    position: relative;
}

@keyframes salad {
    0% {
        bottom: 5px;
    }

    33.333% {
        right: 5px;
    }

    66.66667% {
        top: 5px;
    }

    100% {
        left: 5px;
    }

}

#navbar a[href^="#"] {
    transition: 0.3s;
}

body:has(#section1:target) #navbar a[href="#section1"],
body:has(#section2:target) #navbar a[href="#section2"],
body:has(#section3:target) #navbar a[href="#section3"],
body:has(#section4:target) #navbar a[href="#section4"] {
    border-bottom: 3px solid #c00e0e;
    padding-bottom: 5px;
    font-weight: 600;
}

